<link rel="stylesheet" href="../public/css/style.css"/>

<nav class="navbar navbar-dark" style="background-color: #3b5998;">
  <h1 class="navbar-brand">MEMory </h1>
  <div class="logout">
    <button class="btn btn-link">Log Out</button>
  </div>
</nav>

<div class="welcomediv">
  <h1 class="text-center">Welcome to MEMory</h1>
  <h3 class="text-center">a unique way of gaining insight from your past to help create a brighter tomorrow.</h3>
</div>

<div class="d-grid gap-2 col-2 mx-auto">
  <button class="btn btn-primary" id="createbtn">Create Entry</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 list-container">
      <div class="card">
        <ul class="list-group"></ul>
      </div>
    </div>
    <div class="col-8">
      <input
        class="note-title"
        placeholder="Entry Title"
        maxlength="28"
        type="text"
      />
      <textarea class="note-textarea" placeholder="Entry text"></textarea>
    </div>
  </div>
</div>
    
<script src="./assets/js/index.js"></script>
