<form class="form new-post-form">
  <div class="form-group">
    <label for="post-title">Journal Entry</label>
    <input class="form-input" type="text" id="entry-title" />
  </div>
  <div class="form-group">
    <label for="entry">Entry</label>
    <input class="form-input" type="text" id="entry" />
  </div>
  <button type="Enter" class="btn">Enter</button>
</form>

<script src="/js/addEntry.js"></script>