<form class="form-signup">
    <div class="form group">
        <label for="user-login">Name</label>
        <input class="form-input" type="text" id="user-login" />
    </div>
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="enter">Sign Up</button>
    </div>
</form>

<footer>
    
</footer>

<script scr="/signup/js."
